flows.json
[
    {
        "id": "44a3fd755ef6adb3",
        "type": "tab",
        "label": "Station Météo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b0c7fc553cadbfc",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "Réception ESP32",
        "url": "/api/meteo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "18104ac1f43df7b2"
            ]
        ]
    },
    {
        "id": "2c258194ac7fc7f3",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "Réponse OK",
        "statusCode": "200",
        "headers": {},
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "65f6c4d751fae29c",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "Historique et envoi",
        "func": "let donneesRobot = msg.payload; //récupère les données envoyées\n\nlet nouvelleMesure = {\n    //si les valeurs envoyées ne sont pas trouvables le code écrit un 0 au lieu d'avoir une valeur vide\n    temperature: donneesRobot.temperature || 0,\n    humidite: donneesRobot.humidite || 0,\n    pression: donneesRobot.pression || 0,\n    luminosite: donneesRobot.luminosite || 0,\n    vitesse_m_s: donneesRobot.vitesse_m_s || 0,\n    dirVent: donneesRobot.dirVent || 0,\n    angleVent: donneesRobot.angleVent || 0,\n    pluie_mm: donneesRobot.pluie_mm || 0,\n    lng: donneesRobot.lng || 0,\n    alt: donneesRobot.alt || 0,\n    lat: donneesRobot.lat || 0,\n    speed: donneesRobot.speed || 0,\n    //donne la date et l'heure sur le fuseau horaire de paris\n    date: new Date().toISOString() };\n\nglobal.set(\"mesure_actuelle\", nouvelleMesure);//range l'objet nouvelleMesure dans un tiroir de la mémoire globale appelé \"mesure_actuelle\"\n\nlet historique = global.get(\"historique\") || [];//créé une liste vide pour l'historique\nhistorique.unshift(nouvelleMesure);//insère la toute nouvelle mesure tout en haut de la liste\n//si l'historique dépasse 100 lignes, le mot pop() jette automatiquement la mesure la plus vieille pour éviter les problèmes de mémoire\nif (historique.length > 100) { historique.pop(); }\nglobal.set(\"historique\", historique);//range les nouveautés dans la mémoire \n\nlet msgReponse = msg; \nmsgReponse.payload = { status: \"OK\", message: \"Données reçues !\" };\n//distribue les messages aux sorties correspondantes\nlet msgTemp = { payload: donneesRobot.temperature };\nlet msgHum = { payload: donneesRobot.humidite };\nlet msgPres = { payload: donneesRobot.pression };\nlet msgLum = { payload: donneesRobot.luminosite };\nlet msgVit = { payload: donneesRobot.vitesse_m_s };\nlet msgDir = { payload: donneesRobot.dirVent };\nlet msgAng = { payload: donneesRobot.angleVent };\nlet msgPlu = { payload: donneesRobot.pluie_mm };\nlet msgAlt = { payload: donneesRobot.alt };\nlet msgLng = { payload: donneesRobot.lng };\nlet msgLat = { payload: donneesRobot.lat };\nlet msgSpeed = { payload: donneesRobot.speed };\n\n\n\n\nreturn [msgReponse, msgTemp, msgHum, msgPres, msgLum, msgVit, msgDir, msgAng, msgPlu, msgSpeed, msgAlt, msgLng, msgLat];",
        "outputs": 13,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 504,
        "y": 262,
        "wires": [
            [
                "2c258194ac7fc7f3"
            ],
            [
                "18dd0709704868c4"
            ],
            [
                "272f9e8331493610"
            ],
            [
                "ca2fd06fbb4460ef"
            ],
            [
                "78f0e021407e3bf1"
            ],
            [
                "6bed36a37d94c657"
            ],
            [
                "e376b1075b102fc0"
            ],
            [
                "60605bd3ec20982c"
            ],
            [
                "6ddd3f7247b95394"
            ],
            [
                "f9d0e40ae19ffd45"
            ],
            [
                "b4071033d663187f"
            ],
            [
                "313a3b2753e0c85b"
            ],
            [
                "f17f8e5a3973f24a"
            ]
        ]
    },
    {
        "id": "18dd0709704868c4",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "0c26a3fa4e86c336",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Température (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "272f9e8331493610",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "0ac4e1ee8afd2257",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Humidité (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#98df8a",
            "#ff7f0e",
            "#1f77b4",
            "#aec7e8",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ca2fd06fbb4460ef",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "9564769330f633aa",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Pression (hPa)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#ffbb78",
            "#2ca02c",
            "#1f77b4",
            "#aec7e8",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "78f0e021407e3bf1",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "89b52a178bc9d2b2",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "Luminosité (Lux)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9467bd",
            "#c5b0d5",
            "#ff7f0e",
            "#2ca02c",
            "#1f77b4",
            "#aec7e8",
            "#d62728",
            "#ff9896",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b204a0e13538972e",
        "type": "inject",
        "z": "44a3fd755ef6adb3",
        "name": "Simulateur Robot",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":24.5,\"humidite\":62,\"pression\":1012,\"luminosite\":350,\"vitesse_m_s\":242,\"dirVent\":3456,\"angleVent\":4567,\"pluie_mm\":3456,\"lng\":456,\"lat\":4567,\"alt\":456,\"speed\":4567}",
        "payloadType": "json",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "65f6c4d751fae29c"
            ]
        ]
    },
    {
        "id": "f69c3920466d2a38",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "Envoi historique site web",
        "url": "/api/meteo/historique",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 680,
        "wires": [
            [
                "59ca6e5d3f4c5b71"
            ]
        ]
    },
    {
        "id": "59ca6e5d3f4c5b71",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "Renvoi historique",
        "func": "//récupère en mémoire les données de l'historique et les envoie\nmsg.payload = global.get(\"historique\") || [];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "2334785308b86df9"
            ]
        ]
    },
    {
        "id": "2334785308b86df9",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "Envoi JSON",
        "statusCode": "200",
        "headers": {},
        "x": 810,
        "y": 680,
        "wires": []
    },
    {
        "id": "9d275e12e2ee4736",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "Envoi actuel site web",
        "url": "/api/meteo/actuel",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "6c7167e2ed32a757"
            ]
        ]
    },
    {
        "id": "6c7167e2ed32a757",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "Renvoi actuel",
        "func": "//récupère la donnée dans le global\nlet mesure = global.get(\"mesure_actuelle\");\n\n//verifie si le message est vide ou non et l'envoie dans le second cas\nif (mesure) {\n    msg.payload = mesure;\n} else {\n    msg.payload = { error: \"Aucune donnee en memoire. Cliquez sur le simulateur !\" };\n}\n\n//renvoie le msg intact\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 620,
        "wires": [
            [
                "c2f9a89e47b11b3f"
            ]
        ]
    },
    {
        "id": "c2f9a89e47b11b3f",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "Envoi JSON",
        "statusCode": "200",
        "headers": {},
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "71ba64177e7d60a0",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "température",
        "url": "/api/meteo/historique/temperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "a2efe9a07b75f115"
            ]
        ]
    },
    {
        "id": "afc876e90e387f72",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "humidité",
        "url": "/api/meteo/historique/humidite",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "022530a56ac463b8"
            ]
        ]
    },
    {
        "id": "ee480674d401a9bc",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "pression",
        "url": "/api/meteo/historique/pression",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "af1e107ff9c1468e"
            ]
        ]
    },
    {
        "id": "c592e2e3174e6582",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "luminiosité",
        "url": "/api/meteo/historique/luminosite",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "ad4498a0300aa803"
            ]
        ]
    },
    {
        "id": "bb3d3919aaf82535",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 760,
        "wires": []
    },
    {
        "id": "26aa79d13a60dd31",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 820,
        "wires": []
    },
    {
        "id": "d33ad518fc2e5607",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 900,
        "wires": []
    },
    {
        "id": "4e9c67f410b7a890",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "a2efe9a07b75f115",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 1",
        "func": "let entier = global.get(\"historique\") || [];\n// On extrait uniquement la valeur et la date pour alléger le site\nmsg.payload = entier.map(d => ({ valeur: d.temperature, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 760,
        "wires": [
            [
                "bb3d3919aaf82535"
            ]
        ]
    },
    {
        "id": "022530a56ac463b8",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 2",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.humidite, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 820,
        "wires": [
            [
                "26aa79d13a60dd31"
            ]
        ]
    },
    {
        "id": "af1e107ff9c1468e",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 3",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.pression, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 900,
        "wires": [
            [
                "d33ad518fc2e5607"
            ]
        ]
    },
    {
        "id": "ad4498a0300aa803",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 4",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.luminosite, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 960,
        "wires": [
            [
                "4e9c67f410b7a890"
            ]
        ]
    },
    {
        "id": "6bed36a37d94c657",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "52e0b416cb22e9a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Vitesse vent",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e376b1075b102fc0",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "97dca84a58bf821a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Direction vent",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "60605bd3ec20982c",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "e0160b65db64aa5c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Qté de pluie",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6ddd3f7247b95394",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "0af381f5ab9a68fe",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Angle du vent",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "113d5b06c36b5d51",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "vitesse vent",
        "url": "/api/meteo/historique/vitesse_m_s",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "933c010b3720509a"
            ]
        ]
    },
    {
        "id": "a44924f6b71fea9b",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "direction vent",
        "url": "/api/meteo/historique/dirVent",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "2bafa8e7c714d08d"
            ]
        ]
    },
    {
        "id": "745b920aa841f99b",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "quantité de pluie",
        "url": "/api/meteo/historique/pluie_mm",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 700,
        "y": 760,
        "wires": [
            [
                "52a35da64eb8aa59"
            ]
        ]
    },
    {
        "id": "a1411c53abd14a2b",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "angle du vent",
        "url": "/api/meteo/historique/angleVent",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 710,
        "y": 820,
        "wires": [
            [
                "81e4fd1119c2ba62"
            ]
        ]
    },
    {
        "id": "933c010b3720509a",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 5",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.vitesse_m_s, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "861410e0b52cc668"
            ]
        ]
    },
    {
        "id": "2bafa8e7c714d08d",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 6",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.dirVent, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1060,
        "wires": [
            [
                "cf5545a5859eeb08"
            ]
        ]
    },
    {
        "id": "52a35da64eb8aa59",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 7",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.pluie_mm, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 760,
        "wires": [
            [
                "ca03dbb54eb01aff"
            ]
        ]
    },
    {
        "id": "81e4fd1119c2ba62",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 8",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.angleVent, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 820,
        "wires": [
            [
                "2124a7405fd97724"
            ]
        ]
    },
    {
        "id": "861410e0b52cc668",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 1020,
        "wires": []
    },
    {
        "id": "cf5545a5859eeb08",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ca03dbb54eb01aff",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 760,
        "wires": []
    },
    {
        "id": "2124a7405fd97724",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "dc39e2c7b07d6ab2",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "9564769330f633aa",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Supprime définitivement la barre bleue du haut */\n    md-toolbar {\n        display: none !important;\n    }\n    /* Supprime définitivement le menu blanc de gauche */\n    md-sidenav, .md-sidenav-left {\n        display: none !important;\n    }\n    /* Force le graphique à occuper tout l'écran proprement */\n    md-content {\n        margin-left: 0 !important;\n        padding: 0 !important;\n    }\n    .ui-layout-row {\n        height: 100vh !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9be9011b50966862",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "0ac4e1ee8afd2257",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Supprime définitivement la barre bleue du haut */\n    md-toolbar {\n        display: none !important;\n    }\n    /* Supprime définitivement le menu blanc de gauche */\n    md-sidenav, .md-sidenav-left {\n        display: none !important;\n    }\n    /* Force le graphique à occuper tout l'écran proprement */\n    md-content {\n        margin-left: 0 !important;\n        padding: 0 !important;\n    }\n    .ui-layout-row {\n        height: 100vh !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bafd7746d7935dd5",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "ea52905c50cdee8b",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Supprime définitivement la barre bleue du haut */\n    md-toolbar {\n        display: none !important;\n    }\n    /* Supprime définitivement le menu blanc de gauche */\n    md-sidenav, .md-sidenav-left {\n        display: none !important;\n    }\n    /* Force le graphique à occuper tout l'écran proprement */\n    md-content {\n        margin-left: 0 !important;\n        padding: 0 !important;\n    }\n    .ui-layout-row {\n        height: 100vh !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "fe44bfc01f8d9e26",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "89b52a178bc9d2b2",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Supprime définitivement la barre bleue du haut */\n    md-toolbar {\n        display: none !important;\n    }\n    /* Supprime définitivement le menu blanc de gauche */\n    md-sidenav, .md-sidenav-left {\n        display: none !important;\n    }\n    /* Force le graphique à occuper tout l'écran proprement */\n    md-content {\n        margin-left: 0 !important;\n        padding: 0 !important;\n    }\n    .ui-layout-row {\n        height: 100vh !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "901621aea65eed53",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "52e0b416cb22e9a3",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Supprime définitivement la barre bleue du haut */\n    md-toolbar {\n        display: none !important;\n    }\n    /* Supprime définitivement le menu blanc de gauche */\n    md-sidenav, .md-sidenav-left {\n        display: none !important;\n    }\n    /* Force le graphique à occuper tout l'écran proprement */\n    md-content {\n        margin-left: 0 !important;\n        padding: 0 !important;\n    }\n    .ui-layout-row {\n        height: 100vh !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "108704be726c856a",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "97dca84a58bf821a",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Supprime définitivement la barre bleue du haut */\n    md-toolbar {\n        display: none !important;\n    }\n    /* Supprime définitivement le menu blanc de gauche */\n    md-sidenav, .md-sidenav-left {\n        display: none !important;\n    }\n    /* Force le graphique à occuper tout l'écran proprement */\n    md-content {\n        margin-left: 0 !important;\n        padding: 0 !important;\n    }\n    .ui-layout-row {\n        height: 100vh !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4f6b73b5796b5fd3",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "e0160b65db64aa5c",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Supprime définitivement la barre bleue du haut */\n    md-toolbar {\n        display: none !important;\n    }\n    /* Supprime définitivement le menu blanc de gauche */\n    md-sidenav, .md-sidenav-left {\n        display: none !important;\n    }\n    /* Force le graphique à occuper tout l'écran proprement */\n    md-content {\n        margin-left: 0 !important;\n        padding: 0 !important;\n    }\n    .ui-layout-row {\n        height: 100vh !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8caf3642e9d6754d",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "0af381f5ab9a68fe",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Supprime définitivement la barre bleue du haut */\n    md-toolbar {\n        display: none !important;\n    }\n    /* Supprime définitivement le menu blanc de gauche */\n    md-sidenav, .md-sidenav-left {\n        display: none !important;\n    }\n    /* Force le graphique à occuper tout l'écran proprement */\n    md-content {\n        margin-left: 0 !important;\n        padding: 0 !important;\n    }\n    .ui-layout-row {\n        height: 100vh !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "18104ac1f43df7b2",
        "type": "json",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "65f6c4d751fae29c",
                "84c2a4dc70076aa0"
            ]
        ]
    },
    {
        "id": "84c2a4dc70076aa0",
        "type": "debug",
        "z": "44a3fd755ef6adb3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 120,
        "wires": []
    },
    {
        "id": "f9d0e40ae19ffd45",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "426c405d4224e307",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Longitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9808569d49e0827d",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "longitude",
        "url": "/api/meteo/historique/lng",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 720,
        "y": 880,
        "wires": [
            [
                "5629c80d40d9ab34"
            ]
        ]
    },
    {
        "id": "f17f8e5a3973f24a",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "ab2a7575038b6e70",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Latitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "313a3b2753e0c85b",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "59f8bafe7efa529d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Altitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b4071033d663187f",
        "type": "ui_chart",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "group": "ea52905c50cdee8b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Vitesse robot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1286837924ef6e74",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "latitude",
        "url": "/api/meteo/historique/latitude",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 710,
        "y": 920,
        "wires": [
            [
                "fae817d822153ccf"
            ]
        ]
    },
    {
        "id": "350f0f8436695e0b",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "altitude",
        "url": "/api/meteo/historique/altitude",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 710,
        "y": 960,
        "wires": [
            [
                "24f978bf52f56e99"
            ]
        ]
    },
    {
        "id": "a88da647d06c2b67",
        "type": "http in",
        "z": "44a3fd755ef6adb3",
        "name": "vitesse robot",
        "url": "/api/meteo/historique/speed",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 730,
        "y": 1020,
        "wires": [
            [
                "200cba7f9c8c6f6a"
            ]
        ]
    },
    {
        "id": "5629c80d40d9ab34",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 9",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.lng, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 880,
        "wires": [
            [
                "9ccc7e67c9f13dec"
            ]
        ]
    },
    {
        "id": "fae817d822153ccf",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 10",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.lat, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 920,
        "wires": [
            [
                "5291def9647f9d6a"
            ]
        ]
    },
    {
        "id": "24f978bf52f56e99",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 11",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.alt, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 960,
        "wires": [
            [
                "8e32235740f526db"
            ]
        ]
    },
    {
        "id": "200cba7f9c8c6f6a",
        "type": "function",
        "z": "44a3fd755ef6adb3",
        "name": "function 12",
        "func": "let entier = global.get(\"historique\") || [];\nmsg.payload = entier.map(d => ({ valeur: d.speed, date: d.date }));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1020,
        "wires": [
            [
                "9c402f0090af8db7"
            ]
        ]
    },
    {
        "id": "9ccc7e67c9f13dec",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 880,
        "wires": []
    },
    {
        "id": "5291def9647f9d6a",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 920,
        "wires": []
    },
    {
        "id": "8e32235740f526db",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 960,
        "wires": []
    },
    {
        "id": "9c402f0090af8db7",
        "type": "http response",
        "z": "44a3fd755ef6adb3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 1020,
        "wires": []
    },
    {
        "id": "08a82f1542e0dd79",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "426c405d4224e307",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1140,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e78cec579c65925c",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "ea52905c50cdee8b",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1120,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "39531ff1f6c7ba19",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "59f8bafe7efa529d",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b6dc93fbadfca182",
        "type": "ui_template",
        "z": "44a3fd755ef6adb3",
        "group": "ab2a7575038b6e70",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0c26a3fa4e86c336",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "521c1a0ba38edf8a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ac4e1ee8afd2257",
        "type": "ui_group",
        "name": "Humidité",
        "tab": "60bb1a43d55137f3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9564769330f633aa",
        "type": "ui_group",
        "name": "Pression",
        "tab": "05d8792e9bcce84d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89b52a178bc9d2b2",
        "type": "ui_group",
        "name": "Luminosité",
        "tab": "8e1eccbb3e9dc63f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52e0b416cb22e9a3",
        "type": "ui_group",
        "name": "Vitesse vent",
        "tab": "b91059cc4c4beb06",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97dca84a58bf821a",
        "type": "ui_group",
        "name": "Direction vent ",
        "tab": "b83e6a231b04f1df",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0160b65db64aa5c",
        "type": "ui_group",
        "name": "Qté de pluie",
        "tab": "7e736ccb8a66290a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0af381f5ab9a68fe",
        "type": "ui_group",
        "name": "Angle du vent",
        "tab": "07d0180d09cd8519",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea52905c50cdee8b",
        "type": "ui_group",
        "name": "Vitesse robot",
        "tab": "6539a4d09d12c20c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "426c405d4224e307",
        "type": "ui_group",
        "name": "Longitude",
        "tab": "cb4668d53bab6135",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab2a7575038b6e70",
        "type": "ui_group",
        "name": "Latitude",
        "tab": "63144df90a9b51b2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59f8bafe7efa529d",
        "type": "ui_group",
        "name": "Altitude",
        "tab": "7acb74b57bc6a6ad",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "521c1a0ba38edf8a",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "60bb1a43d55137f3",
        "type": "ui_tab",
        "name": "Humidité",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "05d8792e9bcce84d",
        "type": "ui_tab",
        "name": "Pression",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e1eccbb3e9dc63f",
        "type": "ui_tab",
        "name": "Luminiosité",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b91059cc4c4beb06",
        "type": "ui_tab",
        "name": "Vitesse vent",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b83e6a231b04f1df",
        "type": "ui_tab",
        "name": "Direction vent",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7e736ccb8a66290a",
        "type": "ui_tab",
        "name": "Qté de pluie",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "07d0180d09cd8519",
        "type": "ui_tab",
        "name": "Angle du vent",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6539a4d09d12c20c",
        "type": "ui_tab",
        "name": "Vitesse robot",
        "icon": "dashboard",
        "order": 12,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb4668d53bab6135",
        "type": "ui_tab",
        "name": "Longitude",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "63144df90a9b51b2",
        "type": "ui_tab",
        "name": "Latitude",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7acb74b57bc6a6ad",
        "type": "ui_tab",
        "name": "Altitude",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]
